.textColor {
    color: #fe8300;
}

a h5:hover {
    color: #fe8300;
}

.shaanBtn-primary {
    color: #fff !important;
    background-color: #fe8300 !important;
    border-color: #fe8300 !important;
}

.imgCardRounded {
    border-radius: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 6rem;
    width: 8rem;
}

html {
    scroll-behavior: smooth;
}

.placeItemsCenter {
    display: grid !important;
    place-items: center !important;
}

.wave {
    animation: wave 4s infinite;
    display: inline-block;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }
    5% {
        transform: rotate(-10deg);
    }
    10% {
        transform: rotate(12deg);
    }
    15% {
        transform: rotate(-10deg);
    }
    20% {
        transform: rotate(9deg);
    }
    25% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}